
<div class="content">
	<div class="banner">
		<div class="container">
			<h1><%= page.title %> </h1>
		</div>
	</div>
	<div class="container">
		<div class="category">
            <% site.categories.sort('length').map(function(category){  %>
                <% 	let cover = ""
                    let color = "red"
                    category.posts.sort('-date').map(function(post){
                        if(post.cover!==undefined && cover==""){ 
                            cover = post.cover
                        }
                        if(post.color!==undefined && color=="red"){ 
                            color = post.color
                        }
                    }) 
                %>
                        
                <%  if(cover == ""){ %> 
                    <a class="category-item" href="<%- url_for(category.path) %>">
                        <div class="cover <%= color %>"><h1><%= category.name %></h1></div>
                        <div class="title"><%= category.name %></div>
                    </a>
                <% } else { %>
                    <a class="category-item" href="<%- url_for(category.path) %>">
                        <div class="cover"><img  data-sizes="auto"
                            data-src="<%= cover %>" class="lazyload" alt="<%= category.name %>"></div>
                        <div class="title"><%= category.name %></div>
                    </a>
                <% } %> 
            <% }) %>
        </div>
	</div>
</div>
