<div class="content home">
	<div class="banner">
		<div class="container">
			<div class="search">
				<form id="search_form" action_e="<%= theme.search + "site:" +config.url %>" onsubmit="return search();">
					<label><input id="search_value" name="q" type="search" placeholder="<%= __('search') %>"></label>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="category">
			<% site.categories.sort('name').map(function(category){  %>
				<% 	let coverx = ""
					category.posts.sort('-date').map(function(post){
						if(post.cover!==undefined && coverx==""){ 
							coverx = post.cover
						}
					}) 
				%>
						
				<%  if(coverx == ""){ %> 
					<a class="category-item" href="<%- url_for(category.path) %>">
						<div class="cover red"><h1><%= category.name %></h1></div>
						<div class="title"><%= category.name %></div>
					</a>
				<% } else { %>
					<a class="category-item" href="<%- url_for(category.path) %>">
						<div class="cover"><h1><img src="<%= coverx %>"></h1></div>
						<div class="title"><%= category.name %></div>
					</a>
				<% } %> 
			<% }) %>
		</div>
	</div>
</div>