<!DOCTYPE html>
<html lang="<%= config.language %>">
	<head>
		<%- partial('_partial/head') %>
	</head>

	<body>
        <%- partial('_partial/header') %>
        <%- body %>
		<%- partial('_partial/footer') %>
	</body>
</html>
