<div class="header <% if(is_home()){ %>home<% } %> ">
    <div class="container">
        <a class="logo" href="<%- url_for() %>" title="<%= config.title%>"><%= config.title%></a>
        <ul class="nav">
            <% for (name in theme.menu) { %>
                <li class="nav-item"><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
            <% } %>
        </ul>
    </div>
</div>